name: Build & Publish

on:
  push:
    tags:
      - v*

jobs:
  run-publish-workflow:
    name: Run `publish` workflow
    uses: ./.github/workflows/libpublish.yml
    with:
      docker-registry: docker.io
      image-namespace: dafyddj
      image-repo: ci-docker-python-ruby
      labels: org.opencontainers.image.authors=AN Author <author@example.org>
    secrets:
      registry-password: ${{ secrets.REGISTRY_TOKEN }}
      registry-username: ${{ secrets.REGISTRY_USERNAME }}
